@page "/"

<PageTitle>Home</PageTitle>

<Card>
    <CardHeader>
        <h1>Hello, world!</h1>
    </CardHeader>
    <CardBody>
        Welcome to your new app.
    </CardBody>
    <CardFooter></CardFooter>
</Card>