<footer class="footer mt-auto py-3 bg-dark border-top">
	<div class="container text-light">
		<div class="row g-3">
			<div class="col">
				<span class="m-0">Footer Text</span>
			</div>
		</div>
	</div>
</footer>