@inherits LayoutComponentBase

<LayoutData>
    <NavBar />
</LayoutData>

<main class="flex-shrink-0 py-3">
    <ScrollingTextBG Text="N-TECH AUTHENTICATION"
                     Color="#ff3700" />

    <article class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
        @Body
    </article>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</main>

<LayoutData>
    <Footer />
</LayoutData>