.nt-scrollbg {
    height: 100vh;
    width: 200vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(33, 37, 41);
}

.nt-scrollbg-cover-full {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nt-scrollbg-point-bg {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAACE4AAAhOAFFljFgAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABuSURBVHgBvZBRCoAwDEPrVIY38P439G9F3WwhhSD78cMFHhtd04aJ/K3pdXeSkVErRiNk6Qxhw2lc/MiGGc2rsaGmOGsY2ZCBN++oNcTSMCT5KN6gyKyY7DpQq5xbaH00JkQoOLuG+NbQDZoM1QOQwRz653KR6QAAAABJRU5ErkJggg==);
    background-repeat: repeat;
    background-size: 0.3rem 0.3rem;
}

.nt-scrollbg-gradient-bg {
    background: linear-gradient(rgba(0, 0, 0, 0) 0.3%, rgba(7, 7, 7, 0.8) 97.7%);
}

.nt-scrollbg-rotated-container {
    transform: rotate(-45deg);
    position: relative;
    left: -25%;
}

.nt-scrollbg-half-half {
    position: absolute;
    left: -75%;
    /*display: flex-;*/
    width: 200%;
    height: 400%;
    transform: rotate(-45deg);
    opacity: 60%;
}

.nt-scrollbg-half-left {
    /*flex: 1;*/
    /*opacity: 60%;*/
    background-color: rgb(33, 37, 41);
    width: 100%;
    height: 50%;
}

.nt-scrollbg-half-right {
    /*flex: 1;*/
    /*opacity: 60%;*/
    width: 100%;
    height: 50%;
}

.nt-scrollbg-scrolling-text {
    position: relative;
    left: -25%;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    width: 200%;
    color: #394047;
    background-color: #22262A;
}

.nt-scrollbg-scroll-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nt-scrollbg-scroll-item {
    padding: 0 1rem;
    flex-shrink: 0;
    font-size: 200px;
    font-weight: bold;
    white-space: nowrap;
    font-family: Impact, sans-serif;
    line-height: 175px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    transition: opacity 0.1s ease-in-out;
}

    .nt-scrollbg-scroll-item.hidden {
        opacity: 0;
    }

.nt-scroll-colored, .nt-scroll-bg-colored {
    transition: color 1s ease-in-out, background-color 1s ease-in-out;
}

.nt-scrollbg-scroll-list {
    animation: nt-scroll-left 500s linear infinite;
}

.nt-scrollbg-scroll-list-right {
    animation: nt-scroll-right 500s linear infinite;
}

@keyframes nt-scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes nt-scroll-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}
